/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--pixel-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.page > main {
  margin: 0 auto;
}

.header {
  width: 100%;
}

.title-header {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-normal);
  font-size: clamp(3.0625rem, 13vw, 4.0625rem);
  line-height: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.subtitle-header {
  margin-top: 20px;
  font-size: clamp(0.875rem, 2.8vw, 1.4375rem);
}

.container {
  width: 100%;
  background-color: var(--color-back-text);
  justify-content: center;
  margin: 100px auto 0;
  padding: 120px 0;
  border: 2px var(--color-text) solid;
}

.container-card {
  display: flex;
  margin: 100px auto 0 auto;
  flex-direction: column;
  gap: 50px;
}

.card-title {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-variation-settings: "wght" 700;
  font-size: 18px;
  line-height: 1.1;
  padding: 6px 9px;
  border: 1px var(--color-text) solid;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-text);
  background-color: var(--color-back-text);
}

.card-text {
  font-family: var(--main-font);
  font-weight: var(--font-weight-normal);
  font-variation-settings: "wght" 400;
  font-size: 18px;
  line-height: 21px;
}

.wrap-card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.button__base {
  all: unset;

  display: inline-flex;
  position: relative;
  cursor: pointer;
  border: 2px solid var(--color-text);
  background-color: var(--color-back-text);
  box-shadow: 2px 2px 0 0 transparent;
  transition: box-shadow 0.3s ease;
  outline: none;
}

.button__base::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-back-text);
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  mix-blend-mode: difference;
}

.button__base:hover::before {
  transform: scaleX(100%);
}

.button__base:focus .button__text {
  box-shadow: none;
}

.button__base:focus {
  box-shadow: 2px 2px 0 0 var(--color-text);
}

.button__base .button__text {
  position: relative;
  z-index: 1;
  width: 100%;
  color: var(--color-back-text);
  background-color: var(--color-text);
  padding: 9px 0;
  mix-blend-mode: difference;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 12.6px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  text-align: center;
  box-sizing: content-box;
  cursor: pointer;
}

.card__icon-button {
  border: none;
}

.card__icon-button::before {
  display: none;
}
.card__icon-button:focus {
  box-shadow: none;
}

.card__like-button .button__text {
  min-inline-size: 125px;
}

.like-icon {
  display: inline-flex;
  min-width: 39px;
  height: 36px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible .like-icon {
  border-color: var(--color-text);
}

.dialog-window__button {
  width: 100%;
  margin-top: 21px;
  text-transform: uppercase;
}

.dialog-window__button > .button__text {
  padding: 13px 0;
}

.button__save {
  padding: 15px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.button__save > svg {
  block-size: 28px;
}

.button__save .button__text {
  padding: 0;
}

.img-text {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 14px;
  color: var(--color-text);
  position: absolute;
  opacity: 50%;
}

.wrap-img {
  display: inline-flex;
  width: 100%;
  position: relative;
  border: 1px solid var(--color-text);
}

.wrap-img::after {
  position: absolute;
  content: attr(data-label);
  inset: 22px 11px auto auto;
  font-family: var(--accent-font);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 14px;
  color: var(--color-text);
  opacity: 50%;
}

@supports (-webkit-text-stroke: var(--color-back-text) 0.7px) {
  .img-text,
  .wrap-img::after {
    -webkit-text-stroke: var(--color-back-text) 0.7px;
  }
}

.post-image {
  aspect-ratio: 1;
  object-fit: cover;
  max-width: 100%;
}

/* brightness — яркость элемента. ... */
.filter-brightness {
  filter: brightness();
}

/* contrast — контрастность элемента, указывается в процентах. ... */
.filter-contrast {
  filter: contrast();
}

/* grayscale — оттенки серого. ... */
.filter-grayscale {
  filter: grayscale(0.7);
}

/* hue-rotate — меняет оттенок элемента. ... */
.filter-hue-rotate {
  filter: hue-rotate(20deg);
}

.filter-mn {
  filter: grayscale(0.2) blur(20px);
}

/* invert — инвертирует цвета элемента. ... */
.filter-invert {
  filter: invert();
}

/* saturate — насыщенность элемента. */
.filter-saturate {
  filter: saturate(5);
}

.filter-sepia {
  filter: sepia();
}

.filter-blur {
  filter: blur(7px);
}

.dialog-window {
  width: clamp(30rem, 20px, 50rem);
  padding: 30px 30px;
}

.dialog-window svg {
  block-size: 39px;
  min-width: 39px;
}

.dialog-window__title {
  font-family: var(--accent-font);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.text-container {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.dialog-window::backdrop {
  backdrop-filter: brightness(26%);
}

.wrap-desc {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  border: 1px solid var(--color-text);
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0 102px 0;
}

@media (width > 375px) {
  .container {
    width: clamp(23.5rem, 100%, 43.75rem);
    padding: 128px 0;
  }

  .container-card {
    width: clamp(23.5rem, 100%, 43.75rem);
    justify-self: center;
  }

  .wrap-img::after {
    inset: 25px 25px auto auto;
  }

  .button__save {
    flex-direction: unset;
    gap: 5px;
    padding: 12px 21px;
  }

  .button__save > svg {
    block-size: 24px;
  }

  .dialog-window__button {
    margin-top: 25px;
  }

  .dialog-window {
    width: clamp(22rem, 20px, 50rem);
  }
}