/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-Inter);
  background-image: var(--pixel-gradient);
  object-fit: cover;
  background-attachment: fixed;
}

.header {
  width: 100%;
}

.title-header {
  font-family: var(--font-family-PS2P);
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;
  justify-self: center;
}

.subtitle-header {
  font-family: var(--font-family-PS2P);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  justify-self: center;
}

.container {
  width: 100%;
  background-color: var(--themes-background);
  justify-self: center;
  margin-top: 100px;
  padding-top: 121px;
  padding-bottom: 120px;
  border: 2px var(--themes-mainColor) solid;
}

.container-card {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 50px;
}

.card-title {
  font-family: var(--font-family-Inter);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1.1;
  padding: 6px 9px;
  border: 1px var(--themes-mainColor) solid;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--themes-mainColor);
  background-color: var(--themes-background);
}

.card-text, .card-sup-text {
  font-family: var(--font-family-Inter);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 21px;
}

.button__text {
  font-family: var(--font-family-PS2P);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 12.6px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  text-align: center;
  box-sizing: content-box;
}

.card__like-button {
  all: unset;

  display: inline-flex;
  align-self: flex-end;
  gap: 6px;
  border: none;
  cursor: pointer;
}

.card__like-button .button__text {
  min-inline-size: 125px;
}


.like-icon {
  display: inline-flex;
  min-width: 39px;
  height: 36px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__like-button:focus-visible .like-icon {
  border-color: var(--themes-mainColor);
}

.like-icon #sparks {
  opacity: 0;
}

.like-icon #core {
  fill: rgba(from var(--main-body-color) r g b / 0);
  transition: all 0.3s ease;
  transition-delay: 0.03s;
}

.like-icon #main-body {
  fill: rgba(from var(--core-color) r g b / 0);
  transition: all 0.3s ease;
  transition-delay: 0s;
}

.like-icon #contour {
  fill: rgba(from var(--contour-color) r g b / 1);
  transition: all 0.1s linear;
  transition-delay: 0s;
}

.like-icon:hover #main-body {
  fill: rgba(from var(--main-body-color) r g b / 1);
  transition-delay: 0.05s;
}

.like-icon:hover #core {
  fill: rgba(from var(--core-color) r g b / 1);
  transition-delay: 0s;
}

.like-icon:active {
  --core-color: var(--animation-fill-color);
  --main-body-color: var(--animation-fill-color);
  --contour-color: var(--animation-fill-color);
}

.like-icon:active #contour {
  transition: all 0.3s ease;
  transition-delay: 0.06s;
}

.like-icon #heart {
  transform-origin: center;
}

.like-icon.is-liked #heart {
  --core-color: var(--animation-fill-color);
  --main-body-color: var(--animation-fill-color);
  --contour-color: var(--animation-fill-color);

  animation: resize-heart 0.3s ease-in 0.1S 1 normal backwards;
}

.like-icon.is-liked #sparks {
  animation: opacity-sparks 0.3s ease-in 0.3S 1 normal backwards;
}

.like-icon.is-liked #main-body {
  fill: var(--main-body-color);
}
.like-icon.is-liked #core {
  fill: var(--core-color);
}

@keyframes resize-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes opacity-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ok-button {
  all: unset;

  display: inline-flex;
  width: 100%;
  margin-top: 21px;
  outline: none;
}

button .button__text {
  position: relative;
  z-index: 1;
  width: 100%;
  color: var(--themes-background);
  background-color: var(--themes-mainColor);
  border: 2px var(--themes-background) solid;
  padding: 9px 0;
  mix-blend-mode: difference;
}

button .button__text::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--themes-background);
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  mix-blend-mode: difference;
}

button:hover .button__text::before {
  transform: scaleX(1);
}

button .button__text {
  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

button:focus .button__text {
  box-shadow: 2px 2px 0 0 var(--themes-background);
}

.save-button {
  display: inline-flex;
  position: relative;
  padding: 15px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border: 2px solid var(--themes-mainColor);
  background-color: var(--themes-background);
  cursor: pointer;
  outline: none;
}

.save-button > svg {
  block-size: 28px;
}

.save-button .button__text {
  border: none;
  padding: 0;
}
.save-button .button__text::before {
  display: none;
}

.save-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--themes-background);
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  mix-blend-mode: difference;
}

.save-button:hover::before {
  transform: scaleX(1);
}

.save-button:focus .button__text {
  box-shadow: none;
}

.save-button:focus {
  box-shadow: 2px 2px 0 0 var(--themes-mainColor);
}

.img-text {
  font-family: var(--font-family-PS2P);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--themes-mainColor);
  position: absolute;
  -webkit-text-stroke: var(--themes-background) 0.7px;
  opacity: 50%;
}

.wrap-img {
  display: inline-flex;
  width: 100%;
  position: relative;
  border: 1px solid var(--themes-mainColor);
}

.wrap-img::after {
  position: absolute;
  content: attr(data-label);
  inset: 22px 11px auto auto;
  font-family: var(--font-family-PS2P);
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  color: var(--themes-mainColor);
  -webkit-text-stroke: var(--themes-background) 0.7px;
  opacity: 50%;
}

.post-image {
  width: 100%;
  object-fit: contain;
}

/* brightness — яркость элемента. ... */
.filter-brightness {
  filter: brightness();
}

/* contrast — контрастность элемента, указывается в процентах. ... */
.filter-contrast {
  filter: contrast();
}

/* grayscale — оттенки серого. ... */
.filter-grayscale {
  filter: grayscale(0.7);
}

/* hue-rotate — меняет оттенок элемента. ... */
.filter-hue-rotate-1 {
  filter: hue-rotate(20deg);
}

.filter-hue-rotate-2 {
  filter: hue-rotate(80deg);
}

/* invert — инвертирует цвета элемента. ... */
.filter-invert {
  filter: invert();
}

/* opacity — прозрачность элемента. ... */
.filter-opacity {
  filter: opacity();
}

/* saturate — насыщенность элемента. */
.filter-saturate {
  filter: saturate(5);
}

.filter-sepia {
  filter: sepia();
}

.filter-blur {
  filter: blur(7px);
}

.dialOK {
  width: clamp(30rem, 20px, 50rem);
  padding: 34px 43px;
}

.dialOK svg {
  block-size: 39px;
  min-width: 39px;
}

.title-dialok {
  font-family: var(--font-family-PS2P);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.ok-text-container {
  display: flex;
  flex-direction: row;
  gap: 17px;
}

.dialOK::backdrop {
  backdrop-filter: brightness(26%);
}

.wrap-desc {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  border: 1px solid var(--themes-mainColor);
}

footer {
  display: flex;
  justify-self: center;
  padding: 50px 0 102px 0;
}

@media (width > 375px) {
  .title-header {
    font-size: 65px;
  }

  .subtitle-header {
    font-size: 23px;
    margin-top: 34px;
  }

  .container {
    width: clamp(23.5rem, 100vw, 43.75rem);
    padding-top: 135px;
    padding-bottom: 132px;
  }

  .container-card {
    width: clamp(23.5rem, 100vw, 43.75rem);
    justify-self: center;
  }

  .wrap-img::after {
    inset: 25px 25px auto auto;
  }

  .save-button {
    flex-direction: unset;
    gap: 5px;
    padding: 12px 21px;
  }

  .save-button > svg {
    block-size: 24px;
  }

  .ok-button {
    margin-top: 25px;
  }

  .dialOK {
    width: clamp(22rem, 20px, 50rem);
  }
}